{% extends 'base.html' %}
{% block content %}
<h2>Report - {{ session.classroom.name }} ({{ session.date }})</h2>
<table>
  <tr>
    <th>Roll</th>
    <th>Name</th>
    <th>Status</th>
  </tr>
  {% for r in records %}
  <tr>
    <td>{{ r.student.roll_no }}</td>
    <td>{{ r.student.name }}</td>
    <td>
      {% if r.status == 'PRESENT' %}
        <span style="color:#16a34a;font-weight:600;">Present</span>
      {% else %}
        <span style="color:#dc2626;font-weight:600;">Absent</span>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
